@*Componente que se basa en un modelo para poder crear un formulario de Edicion*@
@inject SweetAlertService sweetAlertService

<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation" />

<EditForm EditContext="editContext" OnValidSubmit="OnValidSubmit">
    @*Este componente se encarga de Mostrar la información de Validación del Modelo*@
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label>Ciudad</label>
        <div>
            @*La propiedad bin-value me blinga según los data context que haya declarado el campo*@
            <InputText class="form-control" @bind-Value="@city.Name" />
            <ValidationMessage For="@(()=> city.Name)" />
        </div>
    </div>
    @*Este boton es el que me dispara la accion del submit dado que lo estamos referenciando*@
    <button class="btn btn-primary" type="submit">Guardar Cambios</button>
    <button class="btn btn-success" @onclick="ReturnAction">Regresar</button>
</EditForm>

@code {
    private EditContext editContext = null!;

    [Parameter]
    [EditorRequired]
    public City city { get; set; } = null!;

    //Acciones que van a pasara cuando se ejecute un boton
    [Parameter]
    [EditorRequired]
    public EventCallback OnValidSubmit { get; set; }

    [Parameter]
    [EditorRequired]
    public EventCallback ReturnAction { get; set; }

    public bool FormPostedSuccesfully { get; set; }

    protected override void OnInitialized()
    {
        editContext = new(city);
    }

    private async Task OnBeforeInternalNavigation(LocationChangingContext context)
    {
        var formWasModified = editContext.IsModified();
        if (!formWasModified || FormPostedSuccesfully)
        {
            return;
        }

        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "¿Deseas abandonar la página y perder los cambios?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true,
                CancelButtonText = "No",
                ConfirmButtonText = "Si"

            });

        var confirm = !string.IsNullOrEmpty(result.Value);
        if (confirm)
        {
            return;
        }
        context.PreventNavigation();
    }
}
