@page "/categories"
@inject IRepository repository;
@inject SweetAlertService sweetAlertService
@inject NavigationManager navigationManager

<h3>Categoría</h3>

<div class="mb-2" style="display: flex; flex-wrap:wrap; align-items: center;">
    <div>
        @*<a class="btn btn-primary mb-3" href="/category/create">Nueva Categoría</a>*@
        <a class="btn btn-primary mb-3" @onclick=@(() => ShowModal())>Nueva Categoría</a>
    </div>
    <div class="mx-2">
        <input style="width: 400px;" type="text" class="form-control" id="titulo" placeholder="Buscar Categoría..." @bind-value="Filter" />
    </div>
    <div>
        <button type="button" class="btn btn-outline-primary" @onclick="ApplyFilterAsync">Filtrar</button>
        <button type="button" class="btn btn-outline-danger" @onclick="CleanFilterAsync">Limpiar</button>
    </div>
</div>



<Pagination CurrentPage="currentPage"
            TotalPages="totalPages"
            SelectedPage="SelectedPageAync" />



<GenericList MyList="categories">
    @*    <Loading>
    <p>Si le queremos enviar nuestro popio Loading</p>
    </Loading>*@
    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Categoría</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in categories!)
                {
                    <tr>
                        <td>
                            @*<a class="btn btn-warning" href="/categories/edit/@category.Id">Editar</a>*@
                            <a class="btn btn-warning" @onclick=@(() => ShowModal(category.Id, true))>Editar</a>
                            <button class="btn btn-danger" @onclick=@(()=>DeleteAsync(category.Id))>Borrar</button>
                        </td>
                        <td>
                            @category.Name
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </Body>
</GenericList>

@code {

    public List<Category>? categories { get; set; }
    private int currentPage = 1;
    private int totalPages;

    [Parameter]
    [SupplyParameterFromQuery]
    public string Page { get; set; } = String.Empty;

    [Parameter]
    [SupplyParameterFromQuery]
    public string Filter { get; set; } = String.Empty;

    #region Codigo Ventana Modal

    [CascadingParameter]
    IModalService Modal { get; set; } = default!;

    private async Task ShowModal(int id = 0, bool isEdit = false)
    {
        IModalReference modalReference;

        if (isEdit)
        {
            modalReference = Modal.Show<CategoryEdit>(string.Empty, new ModalParameters().Add("Id", id));
        }
        else
        {
            modalReference = Modal.Show<CategoryCreate>();
        }

        var result = await modalReference.Result;
        if (result.Confirmed)
        {
            await LoadAsync();
        }
    }

    #endregion


    //Cuando la página se recarga hay una propiedad que se ejecuta y esa es:
    protected override async Task OnInitializedAsync()
    {
        await LoadAsync();

    }

    private async Task LoadAsync(int page = 1)
    {
        //var responseHttp = await repository.Get<List<Category>>("/api/categories");
        //categories = responseHttp.Response;

        if (!string.IsNullOrWhiteSpace(Page))
        {
            page = Convert.ToInt32(Page);
        }

        string url1 = string.Empty;
        string url2 = string.Empty;

        if (string.IsNullOrEmpty(Filter))
        {
            url1 = $"/api/categories?page={page}";
            url2 = $"/api/categories/totalPages";
        }
        else
        {
            url1 = $"/api/categories?page={page}&filter={Filter}";
            url2 = $"/api/categories/totalPages?filter={Filter}";
        }


        var responseHttp = await repository.Get<List<Category>>(url1);
        var responseHttp2 = await repository.Get<int>(url2);
        categories = responseHttp.Response!;
        totalPages = responseHttp2.Response!;
    }

    private async Task SelectedPageAync(int page)
    {
        currentPage = page;
        await LoadAsync(page);

    }

    private async Task DeleteAsync(int Id)
    {
        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "¿Realmente Deseas Eliminar el Registro?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true,
                CancelButtonText = "No",
            });

        var confirm = String.IsNullOrEmpty(result.Value);

        if (confirm)
        {
            return;
        }
        else
        {
            var responseHttp = await repository.Delete($"/api/categories/{Id}");
            if (responseHttp.Error)
            {
                if (responseHttp.HttpResponseMessage.StatusCode != HttpStatusCode.NotFound)
                {
                    var message = await responseHttp.GetErrorMessageAsync();
                    await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
                    return;
                }
            }

            await LoadAsync();

        }
    }
    private async Task CleanFilterAsync()
    {
        Filter = string.Empty;
        await ApplyFilterAsync();
    }

    private async Task ApplyFilterAsync()
    {
        int page = 1;
        await LoadAsync(page);
        await SelectedPageAync(page);
    }
}


