@page "/state/create"
@inject IRepository repository;
@inject NavigationManager navigationManager;
@inject SweetAlertService sweetAlertService; 
<h3>Crear Estado</h3>

<StateForm @ref="stateForm" state="state" OnValidSubmit="Create" ReturnAction="Return"></StateForm>
@code {
    private State state = new();
    private StateForm? stateForm;


    private async Task Create()
    {
        var httpResponse = await repository.Post("/api/states", state);
        if (httpResponse.Error)
        {
            var message = await httpResponse.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message);
            return;
        }
        Return();
    }

    private void Return()
    {
        stateForm!.FormPostedSuccesfully = true;
        navigationManager.NavigateTo("/states");
    }
}
